:root {
	--background-color: rgb(15, 45, 85);
	--on-background-color: rgb(240, 240, 240);
}

* {
	margin: 0;
	padding: 0;

	font-family: Arial, Helvetica, sans-serif;
	line-height: 2;
	color: black;
}

main {
	min-height: 75vh;
}
